#root {
  width: 100%;
  min-height: 100vh;
}

body {
  height: 100%;
  background-color: #242424;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
